llama-cpp-python>=0.2.76
chromadb>=0.4.24
sentence-transformers>=2.2.2
scikit-learn>=1.7.2
pandas>=2.1.0
numpy>=1.26.0
joblib>=1.3.2
oletools>=0.60.1
python-dotenv>=1.0.0
flask>=3.0.0
requests>=2.31.0
gunicorn
flask-swagger-ui
flasgger